*{
   margin:0;
   padding:0;
}

.body{
   font-size:10px;
}

.ActorGrid{
  margin: 2rem 2rem ;
  /* background-color: aquamarine; */
  display: grid;
  grid-template-columns: auto auto auto ;
  row-gap: 2rem;
  column-gap: 6rem;
  grid-auto-flow: row;
}

.ActorCard{
  /* position: relative; */
  width: 21rem;
  height: 23rem;
  /* background-color: #EFEFEF; */
  /* border: 2px solid black; */
  border-radius: 2rem;
  overflow: hidden;


}
.ActorGrid_img{
  /* background-color: aquamarine; */
  width: 17rem;
  height: 17rem;
  overflow: hidden;
  display: flex; 
  justify-content: center;
  /* position: absolute; */
  margin: auto;
  border-radius: 50%;
}

.ShowGrid{
  margin: 2rem 2rem ;
  /* background-color: aquamarine; */
  display: grid;
  grid-template-columns: auto auto auto ;
  row-gap: 2rem;
  column-gap: 6rem;
  grid-auto-flow: row;
}

.ShowCard{
  /* position: relative; */
  width: 21rem;
  height: 28rem;
  /* background-color: #EFEFEF; */
  /* border: 2px solid black; */
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 11px 11px 73px -12px rgba(0,0,0,0.84);
-webkit-box-shadow: 11px 11px 73px -12px rgba(0,0,0,0.84);
-moz-box-shadow: 11px 11px 73px -12px rgba(0,0,0,0.84);


}

.ShowCard_img> img{
  width: 21rem;
  height: 19rem;
}

.link_n_btn> a{
  text-decoration: none;
  color: black;
}
  
  
.mainPageTitle{
  /* background-color: yellow; */
  width: 100%;
  height: 4rem;
  text-align: center;
}


.navMainDiv{
  /* background-color: violet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navHome>a{
 display: inline-block;
 /* background-color: wheat; */
 text-decoration: none;
 color: black;
 margin:.5rem 1rem;
}
.navStared>a{
  display: inline-block;
  /* background-color: wheat; */
  text-decoration: none;
  color: black;
  margin:.5rem 1rem;
}

.searchAreaDiv{
  /* background-color: cadetblue; */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 2rem;
}

.mainSearchBar{
/* background-color: burlywood; */
width: 24rem;
border-radius:1rem;
}

.mainSearchButton{
  width: 4rem;
/* background-color: burlywood; */
border-radius:1rem;

}


.mainSelectDiv{
  /* background-color: cadetblue; */
  text-align: center;
  padding: 1rem;
}

.shows-search{
  margin: 1rem;
}


.actor-search{
  margin: 1rem;
}

.readMoreMainData{
  /* background-color: cadetblue; */
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 15rem auto;

}

.readMoreImg{
  /* background-color: coral; */
  grid-row: 1 / span 3;
}


.readMoreImg>img{
  border-radius: 2rem;
}

.readMoreName{
/* background-color: rgb(255, 80, 182); */
width: 100%;
height: 3rem;
display: flex;
align-items: center;
font-size: 2rem;
font-weight: bold;
}


.readMoreRating{
/* background-color: rgb(115, 255, 80); */
width: 100%;
height: 2rem;
display: flex;
align-items: center;

}


.readMoreNameRating{
  width: 100%;
  height: 2rem;
}


.readMoreSummary{
/* background-color: rgb(255, 80, 89); */
width: 100%;
height: 5rem;
display: flex;
flex-direction: row;
/* align-items: center; */
}


.readMoreTags{
/* background-color: rgb(176, 80, 255); */
display: flex;
flex-direction: row;
width: 100%;
height: 2.3rem;
}


.readMoreTags>p{
  padding: .6rem;
}


.readMoreDetailsDiv{
  /* background-color: aqua; */
  margin: 1rem 1rem;
}

.detailsStatus>p{
  margin-top: 1rem ;
}
.detailsStatus>p>span{
  font-weight: bold;
}

.readMoreSeasonsNo{
    margin: 1rem 1rem;

}

.readMoreSeasonsNo>p>span{
  font-weight: bold;

}
.readMoreEpisodeNo{
  margin: 1rem 1rem;

}
.readMoreEpisodeNo>p>span{
  font-weight: bold;

}

.readMoreSeasonMap{
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: row;
  align-items:baseline;
  justify-content:space-evenly;
  margin: 2rem 0;
}

.readMoreCast{
  /* background-color: aquamarine; */
  display: inline-block;
  
}

.readMoreSingleCast{
  /* background-color: beige; */
  width: 18rem;
  height: 4rem;
  margin: .5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.readMoreSingleCast>img{
  width: 3rem;height: 3rem;
  border-radius: 50%;
}

.starButton{
  background-color: transparent;
  border: none;
  outline: none ;
}